* {
 font-size: 26px;
 font-family: Courier;
}

body {
  color: #333232;
  margin: 0;
}

.topo {
  background-color: chartreuse;
  padding: 40px;
  text-align: center;
}

.topo h2{
  margin: 0;
}

.cabecalho {
  padding-top: 40px;
}

.container {
  margin: 80px 80px 80px 80px;
}

p {
  text-align: justify;
  line-height: 42px;
}

img {
    width: 280px;
}
