* {
    font-size: 26px;
    font-family: 'Courier';
    color: #fafafa;
}

button {
    color: black;
    margin-bottom: 50px;
}

body{
    color:#333232;
    background-color: #4d4c4c;

}

div.cor1{
    background-color: #7e1515;
    border: black solid 2px
}

div.cor2{
    background-color: #2b29ad;
    padding: 20px;
}

div {
    text-align: center;
}

img{
    width:200px;
}